@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Ensure forms and inputs have consistent styling */
input,
select,
button {
  @apply focus:outline-none;
}